@model List<_1372556_ProjetFinal.ViewModels.PokemonViewModel>


<h1>Liste de Pokémon</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Niveau</th>
            <th>Génération</th>
            <th>Niveau par défaut</th>
            <th>Types</th>
            <th>Dresseurs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pokemon in Model)
        {
            <tr>
                <td>@pokemon.Nom</td>
                <td>@pokemon.Niveau</td>
                <td>@pokemon.IdGeneration</td>
                <td>@pokemon.NiveauParDefaut</td>
                <td>
                    @foreach (var type in pokemon.Types)
                    {
                        @type.NomType
                        if (type != pokemon.Types.Last())
                        {
                            <span>, </span>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
