@model IEnumerable<_1372556_ProjetFinal.Models.Pokemon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NiveauParDefaut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGenerationNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Niveau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NiveauParDefaut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGenerationNavigation.IdGeneration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPokemon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPokemon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPokemon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
