@model List<_1372556_ProjetFinal.Models.VueJeux>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <style>
        body {
            font-family: 'Lato', sans-serif; /* Utilisez la police que vous souhaitez */
        }

        h2 {
            color: red; /* Couleur du texte du titre h2 */
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: red; /* Couleur de fond de l'en-tête du tableau */
            color: white; /* Couleur du texte de l'en-tête du tableau */
        }

        tr:nth-child(even) {
            background-color: #f2f2f2; /* Couleur de fond des lignes paires du tableau */
        }
    </style>
</head>
<body>

    <h2>Vue Personnalisée</h2>

    <table>
        <thead>
            <tr>
                <th>Nom du Jeu</th>
                <th>Date de Sortie</th>
                <th>Age</th>
                <th>Nom de la Génération</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NomJeu</td>
                    <td>
                        @if (item.DateSortie.HasValue)
                        {
                            @item.DateSortie.Value.ToShortDateString()
                        }
                    </td>
                    <td>@item.Age</td>
                    <td>@item.Nom</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
